numpy==2.2.4
pandas==2.2.3
seaborn==0.13.2
matplotlib==3.10.1
torch==2.6.0
torchvision==0.21.0
joblib==1.4.2
tqdm==4.67.1
pip-chill==1.0.3
ipykernel==6.29.5
wincertstore==0.2.1
gdown==5.2.0
PyYAML==6.0.2
ensure==1.0.4
python-box==7.3.2
cryptography==44.0.2
fastapi==0.115.12
uvicorn==0.34.0
mlflow==2.21.3
dvc==3.59.1
pytest==8.3.5
mypy==1.15.0
flake8==7.2.0
tox==4.25.0
black==25.1.0